# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/venv.env
.env

# Ignore build artifacts
client/src/components/*.js.map
client/src/components/*.js.map
client/src/components/*.jsx

client/node_modules/.cache/babel-loader/1ae5f9d731da40fed7a8c8d812d5eb47693792947a8de1971754f4af03bc0d06.json
client/node_modules/.cache/babel-loader/3dd0580477979a027ac5e10f11303af6a64d56130393a1f5a34add0043043b0a.json
client/node_modules/.cache/babel-loader/97e44927eafc9fcc32c24569bf2a67dc91d994e2d9546836ab08ed133d7065cd.json
client/node_modules/.cache/babel-loader/ac3c4a5867300f01bc61bd0e5bfa7030786823d7ce73179a6a6cf8096334170e.json
client/node_modules/.cache/default-development/0.pack_
client/node_modules/.cache/default-development/1.pack_
client/node_modules/.cache/default-development/2.pack_
client/node_modules/.cache/default-development/4.pack_
client/node_modules/.cache/default-development/5.pack_
client/node_modules/.cache/default-development/7.pack_
client/node_modules/.cache/default-development/21.pack_
server/.venv/nltk_data/corpora/omw-1.4.zip
server/.venv/nltk_data/corpora/stopwords.zip
server/.venv/nltk_data/corpora/wordnet.zip
server/.venv/nltk_data/corpora/stopwords/arabic
server/.venv/nltk_data/corpora/stopwords/azerbaijani
server/.venv/nltk_data/corpora/stopwords/basque
server/.venv/nltk_data/corpora/stopwords/bengali
server/.venv/nltk_data/corpora/stopwords/catalan
server/.venv/nltk_data/corpora/stopwords/chinese
server/.venv/nltk_data/corpora/stopwords/danish
server/.venv/nltk_data/corpora/stopwords/dutch
server/.venv/nltk_data/corpora/stopwords/english
server/.venv/nltk_data/corpora/stopwords/finnish
server/.venv/nltk_data/corpora/stopwords/french
server/.venv/nltk_data/corpora/stopwords/german
server/.venv/nltk_data/corpora/stopwords/greek
server/.venv/nltk_data/corpora/stopwords/hebrew
server/.venv/nltk_data/corpora/stopwords/hinglish
server/.venv/nltk_data/corpora/stopwords/hungarian
server/.venv/nltk_data/corpora/stopwords/indonesian
server/.venv/nltk_data/corpora/stopwords/italian
server/.venv/nltk_data/corpora/stopwords/kazakh
server/.venv/nltk_data/corpora/stopwords/nepali
server/.venv/nltk_data/corpora/stopwords/norwegian
server/.venv/nltk_data/corpora/stopwords/portuguese
server/.venv/nltk_data/corpora/stopwords/README
server/.venv/nltk_data/corpora/stopwords/romanian
server/.venv/nltk_data/corpora/stopwords/russian
server/.venv/nltk_data/corpora/stopwords/slovene
server/.venv/nltk_data/corpora/stopwords/spanish
server/.venv/nltk_data/corpora/stopwords/swedish
server/.venv/nltk_data/corpora/stopwords/tajik
server/.venv/nltk_data/corpora/stopwords/turkish
server/.venv/nltk_data/taggers/averaged_perceptron_tagger.zip
server/.venv/nltk_data/taggers/universal_tagset.zip
server/.venv/nltk_data/taggers/averaged_perceptron_tagger/averaged_perceptron_tagger.pickle
server/.venv/nltk_data/taggers/universal_tagset/ar-padt.map
server/.venv/nltk_data/taggers/universal_tagset/bg-btb.map
server/.venv/nltk_data/taggers/universal_tagset/ca-cat3lb.map
server/.venv/nltk_data/taggers/universal_tagset/cs-pdt.map
server/.venv/nltk_data/taggers/universal_tagset/da-ddt.map
server/.venv/nltk_data/taggers/universal_tagset/de-negra.map
server/.venv/nltk_data/taggers/universal_tagset/de-tiger.map
server/.venv/nltk_data/taggers/universal_tagset/el-gdt.map
server/.venv/nltk_data/taggers/universal_tagset/en-brown.map
server/.venv/nltk_data/taggers/universal_tagset/en-ptb.map
server/.venv/nltk_data/taggers/universal_tagset/en-tweet.map
server/.venv/nltk_data/taggers/universal_tagset/en-tweet.README
server/.venv/nltk_data/taggers/universal_tagset/es-cast3lb.map
server/.venv/nltk_data/taggers/universal_tagset/es-eagles.map
server/.venv/nltk_data/taggers/universal_tagset/es-iula.map
server/.venv/nltk_data/taggers/universal_tagset/es-treetagger.map
server/.venv/nltk_data/taggers/universal_tagset/eu-eus3lb.map
server/.venv/nltk_data/taggers/universal_tagset/fi-tdt.map
server/.venv/nltk_data/taggers/universal_tagset/fr-paris.map
server/.venv/nltk_data/taggers/universal_tagset/hu-szeged.map
server/.venv/nltk_data/taggers/universal_tagset/it-isst.map
server/.venv/nltk_data/taggers/universal_tagset/iw-mila.map
server/.venv/nltk_data/taggers/universal_tagset/ja-kyoto.map
server/.venv/nltk_data/taggers/universal_tagset/ja-verbmobil.map
server/.venv/nltk_data/taggers/universal_tagset/ko-sejong.map
server/.venv/nltk_data/taggers/universal_tagset/nl-alpino.map
server/.venv/nltk_data/taggers/universal_tagset/pl-ipipan.map
server/.venv/nltk_data/taggers/universal_tagset/pt-bosque.map
server/.venv/nltk_data/taggers/universal_tagset/README
server/.venv/nltk_data/taggers/universal_tagset/ru-rnc.map
server/.venv/nltk_data/taggers/universal_tagset/sl-sdt.map
server/.venv/nltk_data/taggers/universal_tagset/sv-talbanken.map
server/.venv/nltk_data/taggers/universal_tagset/tu-metusbanci.map
server/.venv/nltk_data/taggers/universal_tagset/universal_tags.py
server/.venv/nltk_data/taggers/universal_tagset/zh-ctb6.map
server/.venv/nltk_data/taggers/universal_tagset/zh-sinica.map
server/.venv/nltk_data/tokenizers/punkt.zip
server/.venv/nltk_data/tokenizers/punkt/czech.pickle
server/.venv/nltk_data/tokenizers/punkt/danish.pickle
server/.venv/nltk_data/tokenizers/punkt/dutch.pickle
server/.venv/nltk_data/tokenizers/punkt/english.pickle
server/.venv/nltk_data/tokenizers/punkt/estonian.pickle
server/.venv/nltk_data/tokenizers/punkt/finnish.pickle
server/.venv/nltk_data/tokenizers/punkt/french.pickle
server/.venv/nltk_data/tokenizers/punkt/german.pickle
server/.venv/nltk_data/tokenizers/punkt/greek.pickle
server/.venv/nltk_data/tokenizers/punkt/italian.pickle
server/.venv/nltk_data/tokenizers/punkt/malayalam.pickle
server/.venv/nltk_data/tokenizers/punkt/norwegian.pickle
server/.venv/nltk_data/tokenizers/punkt/polish.pickle
server/.venv/nltk_data/tokenizers/punkt/portuguese.pickle
server/.venv/nltk_data/tokenizers/punkt/README
server/.venv/nltk_data/tokenizers/punkt/russian.pickle
server/.venv/nltk_data/tokenizers/punkt/slovene.pickle
server/.venv/nltk_data/tokenizers/punkt/spanish.pickle
server/.venv/nltk_data/tokenizers/punkt/swedish.pickle
server/.venv/nltk_data/tokenizers/punkt/turkish.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/czech.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/danish.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/dutch.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/english.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/estonian.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/finnish.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/french.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/german.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/greek.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/italian.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/malayalam.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/norwegian.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/polish.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/portuguese.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/README
server/.venv/nltk_data/tokenizers/punkt/PY3/russian.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/slovene.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/spanish.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/swedish.pickle
server/.venv/nltk_data/tokenizers/punkt/PY3/turkish.pickle
